
@media (min-width: 940px) {
    .hidden{
        margin-left: 60px;
    }
    .header-log{
        margin-left: -5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18;
    }
    .input{
        width: 350px;
    }
    .motion-footer{
        margin-left: -10px;
    }
    .corzino{
        margin-left: 40px;
    }
    .div-basket{
    }


}
@media (min-width: 768px){
    .hidden{
        margin-left: 60px;
    }
    .header-log{
        margin-left: -5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18;
    }
    .input{
        width: 350px;
    }
    .motion-footer{

    }






}

