.container{
    width: 1440px;
}


.MOBILE-MENU {
    display: none;
}
.Header {
    background: linear-gradient(268.51deg, #FF005C 0.86%, #000000 150.38%);
}
.header{

    display: flex;
    align-items: center;
   justify-content: space-between;
    margin-left: 140px;
}
.detailBTNs{
    width: 20%;
height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.BTNLG {
    margin-left: -78px;
}

.price {
    font-size: 24px;

}

.aformit {
   display: flex;
    justify-content: center;
}

.inputBasket {
    border: none;
    background: transparent;
    color: #bdc3c7;
    width: 220px;
    margin-left: 30px;
}

.footerTwo {
    display: none;
}


.table {
    font-size: 24px;
    margin-top: 25px;
    color: white;
}

.tableName {
    font-size: 15px;
}

.tableImg {
    width: 50px;
    height: 50px;

}

.circle {
    width: 30px;
    height: 30px;
    background: gray;
    color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-left: 35px;
}

.footerH1 {
    margin-left: 230px;
}

.Hooter {
    background: linear-gradient(268.51deg, #FF005C 0.86%, #000000 150.38%);

}

.img {

    background: linear-gradient(360deg, rgba(255, 0, 92, 0.59) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 10px;
    z-index: auto;
}

.sooda {
    margin-left: 250px;
}

.navigate {
    margin-left: 190px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
}

.svg {
    position: absolute;
    margin-top: -32px;
    margin-left: 120px;
    display: flex;
    align-items: center;
    width: 200px;
}

.path {
    margin-left: 140px;
}


.set {
    width: 500px;
}

.input {
    color: white;
    width: 450px;
}

.handle {
    display: grid;
    grid-template-columns: 1fr   1fr 1fr 1fr;
}

.header12 {
    background: linear-gradient(268.51deg, #FF005C 0.86%, #000000 150.38%);
}

.faq {
    width: 571px;
    height: 48px;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #72072D;
}

.span {
    width: 1300px;
    height: 2px;
    background: #72072D;
    margin-left: 30px;
    margin-top: 30px;
}

.faq2 {
    margin-top: 30px;
    margin-left: 30px;
}

.faq__title {
    width: 399px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.faq__desc {
    width: 1220px;
    height: 79px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #72072D;
}

.sooda {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price {
    background: linear-gradient(270deg, #FF005C 0%, #72072D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.description {

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;

    color: #434343;
}

.wer {
    color: white;
    background: white;

}

.stule {
    border: solid #000000 2px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
width: 75px;
    height: 40px;
}

.stule:hover {
    border: 3px solid #FF005C;
    box-sizing: border-box;
    color: #FF005C;
}

.stule_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


.basket-card {
    display: flex;
    flex-direction: column;

}

.basket-card img {
    width: 100%;
    height: 268px;
}

.basket-card h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    margin: 10px 0;
}

.req-card {
    font-weight: bold;
    font-size: 30px;
 margin: 20px;
}

.recCard {
    margin: 20px;
}


.develop {
    background: linear-gradient(268.51deg, #FF005C 0.86%, #000000 150.38%);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: start;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.loader {
    pointer-events: none;
    border: 3px solid transparent;
    animation: an1 1s ease infinite;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top-color: white;

}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.lorem_footer {
    width: 350px;
    color: white;
    font-size: 14px;
}

.black_card {
    width: 450px;
    height: 270px;
}

.img-div {
    border: solid 1px gray;
    width: 290px;
    height: 260px;
}

.footer {
    margin-left: -200px;
}

.detail-p {
    width: 1100px;
}

.detail-img {
    width: 400px;
    height: 500px;
}

.detail-btn {
    background: linear-gradient(268.51deg, #FF005C 0.86%, #000000 150.38%);
}

.menuBlock {
    display: none;
}
.footerMENU{
    width: 768px;

}
.footerMENULOG{
    width: 600px;
margin-left: 85px;
}
.livers {
    padding: 4px;
    margin-left: 33px;
}



.circle {
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.pLiver {
    margin-left: -7px;
}

.carding {
    width: 580px;
    height: 250px;

}

.SEARCH {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
}
.corzino{
    margin-left: 249px;
}
.div-basket{
margin-left: 330px;
}
.Hidden{
    margin: 20px;
}
.req{
    width: 1300px;
}
.rec-sliders{
    margin: 50px 0;
}
.btn1{
    width:210px;
}
.BTNLG{
    margin-left: 20px;
}
@media(max-width: 1024px){
    .container{
   width: 90%;
    }
    .circle{
        margin-top: 0;
    }
 .header{
     margin-left: 3px;
     width: 106%;
 }
.catalogSET{
    margin-left: -33px;
}
    .detail-p {
        width: 83%;
    }
.handle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.lorem_footer{
    width: 85%;
}
.footerMB{
    margin-left:26px;
}
.corzino{
    margin-left: 0;
}
.basketGarbage{
    margin-left: 45px;
}
.req{
    width: 97%;
}
}
@media(max-width: 992px){

    .header{
        margin-left: -1px;
        width: 123%;
    }
    .footer {

    }
    .catalogSET{
        width: 131%;
        margin-left: -140px;
    }
    .detail-p {
        width: 83%;
    }
    .handle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .lorem_footer{
        width: 82%;
    }
    .footerMB{
        margin-left: 3px;
    }
    .corzino {
        margin-left: 244px;
    }
    .basketGarbage{
        margin-left: -49px;
    }
    .div-basket{
        margin-left: 80px;
    }
    .req{
        width: 124%;
        margin-left: -97px;
    }
    .detail-img {
        margin-left: -20px;
    }


}
@media(max-width: 768px){


    .input {
        margin-left: 152px;
    }

    .header {
        margin-left: 11px;
        width: 56%;
    }
    .Header{
        background: white;
    }

    .menuBlock{
        display: block;
        position: fixed;
        background: #FF005C;
        height:60px;
    }
    .menuBlocks{
        margin-left: -1px;
    }
    .footerTwo{
        display: block;
        margin-left: 42px;
    }
    .header-log{
       display: none;
    }
    .Hidden{
        display: none;
    }

    .footerOne{
        display: none;
    }
    .catalogSET{
        width: 114%;
        margin-left: -68px;
    }
    .detail-p {
        width: 83%;
    }
    .handle{
        display: grid;
        grid-template-columns: 1fr   1fr;
        margin-left: 38px;
    }
    .detail-img {
        width: 100%;
        height: 429px;
        margin-left: -14px;
    }
    .lorem_footer{
        width: 85%;
    }
    .footerMB{

        margin-left: 5px;
    }
    .corzino {
        width: 100%;
        margin-left: 38px;
    }
    .basketGarbage{
        margin-left: -44px;
    }
    .div-basket{
        margin-left: 170px;
    }
    .req{
        width: 108%;
        margin-left: -42px;
    }
.birka{
    margin-left: 232px;
}

}
@media(max-width:576px){

.footerMENULOG{
    width:71%;
}
    .footerMENU{
        width: 98%;
    }
    .menuBlocks{
        margin-left: 29px;
    }
    .input {
        margin-left: 55px;
    }
    .footerTwo {
      margin-left: 19px;
    }
    .birka {
        margin-left: 18px;
    }
    .catalogSET {
         width: 130%;
         margin-left: -81px;
     }
    .req {
        width: 108%;
        margin-left: -18px;
    }
    .footerTwo {
        margin-left: 114px;
    }
    .birka {
        margin-left: 64px;
    }
    .corzino {
        margin-left: 101px;
    }
    .div-basket {
        margin-left: 25px;
    }
    .basketGarbage {
        margin-left: -149px;
        width: 173%;
    }
    .handle {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 108px;

    }
}
@media(max-width:450px){
    .input {
        margin-left: -12px;
    }
    .catalogSET {
        margin-left: -74px;
    }
    .req {
        width: 88%;
        margin-left: 22px;
    }
    .footerTwo {
        margin-left: 50px;
    }
    .div-about{
        margin-left: -80px;
    }
    .corzino {
        margin-left: 44px;
    }
    .basketGarbage {
        margin-left: -92px;
        width: 125%;
    }

    .detail-img {
         height: 252px;
    }
    .description {
        font-size: 20px;

    }
    .stule{
        width: 40px;
        height: 30px;
    }
    .handle{
        margin-left: 38px;
    }
    .btn1{
        width: 99%;
    }

}
@media(max-width:425px){
    .input {
        width: 192%;
        margin-left: 9px;
    }
    .priceNIK{
        font-size: 25px;
    }
    .footerMENULOG {
        margin-left: 68px;
    }
    .div-basket {
        margin-left: -3px;
    }
}
@media(max-width:414px){
    .catalogSET {
        margin-left: -67px;
        width: 126%;
    }
    .corzino {
        margin-left: 28px;
    }
    .description {
        font-size: 20px;
        height: 19%;
        overflow: hidden;
    }
    .handle {
        margin-left: 20px;
    }
    .footerTwo {
        margin-left: 29px;
    }
}
@media(max-width:400px){
    .input {
        width: 182%;
    }.catalogSET {
         margin-left: -59px;
         width: 122%;
     }
     .btn1{
         width:99%;
     }
    .div-basket {
        margin-left: -12px;
    }
    .corzino {
        margin-left: 19px;
    }
}
@media(max-width:380px){
    .corzino {
        margin-left: 58px;
        width: 80%;
    }
    .div-basket {
        margin-left: -67px;
    }
    .handle {
        margin-left: 6px;
    }
}
@media(max-width:375px){

}
@media(max-width:360px){
    .input {
        margin-left: 4px;
    }
    .footerTwo {
        margin-left: 19px;
    }
    .birka {
        margin-left: 49px;
    }.div-basket {
         margin-left: -41px;
     }
    .corzino {
        margin-left: 49px;
    }
    .description {
        height: 18%;
    }
    .footerMENULOG {
        margin-left: 57px;
    }
    .title {
        margin-left: 14px;
    }
    .path {
        margin-left: 97px;
    }
    .carding {
        height: 150px;
    }
}
@media(max-width:320px){
    .carding {
        height: 150px;
    }
    .title {
        margin-left: 14px;
    }
    .path {
        margin-left: 97px;
    }
    .svg {
        width: 179px;
    }
    .birka {
        margin-left: 30px;
    }.div-about {
         margin-left: -144px;
     }
     .contactAbout{
         margin-left: 1%;
     }
    .contactAbout {
        margin-left: 7%;
    }

}
.hideMenuNav {
    display: none;
}

.showMenuNav {
    display: block;
    position: absolute;
    width: 500px;
    height: 200px;
    background: white;
    z-index: 10;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




